.container {
    padding-left: 6rem;
    padding-right: 6rem;
}

.grid-container {
    display: grid;
    max-width: max-content;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 10px;
}

.center {
    margin: 0px auto;
}

.input-container {
    display: flex;
    flex-direction: row;
    justify-items: center;
    gap: 30px 40px;
    margin-top: 3px;
    font-weight: 700;
}

input,
textarea,
select {
    height: 22px;
    border: solid #000 7px;
    border-top: solid 3px;
    border-radius: 7px;
    width: 300px;
}

textarea {
    height: initial;
    resize: none;
}

select {
    height: 33px;
    width: 150px;
}

label {
    width: 100px;
}

/* text */
.text-secondary {
    color: #5e5e5e;
}

.text-dark {
    color: #000;
}

.text-decoration-none {
    text-decoration: none !important;
}

.fw-bold {
    font-weight: 900;
}

.fw-semibold {
    font-weight: 600;
}

/* additional stuff */
#AddItem {
    margin-left: 75px;
    margin-top: 25px;
    margin-bottom: 25px;
}

#Header {
    margin-left: 15px;
}   

.BorderShadow {
    border: solid 2px black;
    box-shadow: 2px 2px;
    border-radius: 5px;
    padding: 5px;
}

.field {
    width: 300px;
}
.field2 {
    width: 150px;
}

.HBar {
    background-color: orange;
    height: 10px;
}


.btn {
    box-sizing: border-box;
    border-radius: 8px;
    background: transparent;
    border: 3px solid #000;
    padding: 8px 20px;
    margin-top: 20px;
}


@media screen and (max-width: 800px) {
    .container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}